# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# !! NOOIT COMMITTEN !!
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# TypeScript
*.tsbuildinfo
